<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nuevo Médico</title>
</head>
<body>
<a href="consultorios/todos" class="btn btn-info mt-3">Consultorios</a>
<a href="/Medicos/todos">Agregar Nuevo Paciente</a>
<h1>Agregar Nuevo Médico</h1>

<form action="/medicos/guardar" method="post" th:object="${medico}">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
  <br>

  <label for="apellidoP">Apellido Paterno:</label>
  <input type="text" id="apellidoP" name="apellidoP" th:field="*{apellidoP}" required>
  <br>

  <label for="apellidoM">Apellido Materno:</label>
  <input type="text" id="apellidoM" name="apellidoM" th:field="*{apellidoM}" required>
  <br>

  <label for="especialidad">Especialidad:</label>
  <input type="text" id="especialidad" name="especialidad" th:field="*{especialidad}" required>
  <br>

  <button type="submit">Guardar</button>
</form>

<a href="/medicos">Volver a la lista de médicos</a>
</body>
</html>
